{% extends 'main/base.html' %}

{% block content %}
<div class="container mt-5">
     <h2>Change Admin Password</h2>
     <form method="post">
         {% csrf_token %}
         <!-- Add Bootstrap form classes -->
         <div class="form-group">
             {{ form.as_p }}
         </div>
         <button type="submit" class="btn btn-success">Change Password</button>
         <a href="{% url 'create_superuser' %}" class="btn btn-primary">Create</a>
         <a href="{% url 'main' %}" class="btn btn-secondary">Back</a>
     </form>
 </div>
 
{% endblock %}