<style>
     /* Custom CSS for Navbar Hover Effect */
     .navbar-nav>li:hover {
          background-color: #007bff;
          /* Change to the desired background color on hover */
     }

     .navbar-nav>li:hover>a {
          color: #fff;
          /* Change to the desired text color on hover */
     }
</style>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
     <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'main' %}">MMS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
               aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
               <ul class="navbar-nav">
                    {% if user.is_superuser %}
                    <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Accountant
                         </a>
                         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="{% url 'payment' %}">Payment Create</a>
                              <a class="dropdown-item" href="{% url 'payment_history' %}">Payment History</a>
                         </div>
                    </li>
                    <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Customer Options
                         </a>
                         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="{% url 'all_customer' %}">All Customer List</a>
                              <a class="dropdown-item" href="{% url 'cutomer_form_list' %}">Request</a>
                         </div>
                    </li>
                    <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Services Options
                         </a>
                         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="{% url 'service' %}">All Service List</a>
                              <a class="dropdown-item" href="{% url 'service_create' %}">Create Service</a>
                         </div>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="{% url 'admin_password_change' %}">Change Password</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="{% url 'superuser_list' %}">Superuser List</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="{% url 'main_logout' %}">Logout</a>
                    </li>
                    {% endif %}
               </ul>
          </div>
     </div>
</nav>
