{% extends "app/base.html" %}
{% load static %}
{% block content %}

<div class="container mt-5">
     <div class="row justify-content-center">
          <h2>Edit Customer Profile</h2>
          <div class="col-md-4">
               <img src="{{customer.images.url }}" alt="Images" height="200" width="200"
                    class="img-thumbnail  my-5 d-flex">

          </div>
          <div class="col-md-8">
               <h6 class="col-sm-6 form-group form-row">Name: {{ member.first_name }}
                    {{customer.member.last_name}}</h6>
               <h6 class="col-sm-6 form-group form-row">Contact: {{customer.contact}}</h6>
               <h6 class="col-sm-6 form-group form-row">Joining:{{customer.date_of_signature}}</h6>
               <h6 class="col-sm-6 form-group form-row">Roll_number: {{customer.rollnumber}}</h6>


               <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Submit</button>
                    <a href="{% url 'profile' %}" class="btn btn-secondary ">Back</a>

               </form>

          </div>
     </div>
</div>


{% endblock content %}