{% extends "app/base.html" %}

{% block content %}

<div class="card shadow m-2">
     <div class="card-body">
          <div class="row">
               <h2 class="p-2 text-secondary"> Customer Profile Details</h2>
               <div class="col-md-2">
                    <img src="{{ user_profile.images.url }}" alt="Images" height="100" width="100"
                         class="img-thumbnail  my-5 d-flex">
               </div>
               <div class="col-md-10">
                    <h6 class="col-sm-6 form-group form-row">Name: {{user_profile.member.first_name}}
                         {{user_profile.member.last_name}}</h6>
                    <h6 class="col-sm-6 form-group form-row">Contact:{{user_profile.contact}}
                         {{user_profile.emergency_contact}} {{user_profile.emergency_contact2}}</h6>
                    <h6 class="col-sm-6 form-group form-row">Addess:{{user_profile.street_address}}
                         {{user_profile.street_address2}}</h6>
                    <h6 class="col-sm-6 form-group form-row">City:{{user_profile.city}}</h6>
                    <h6 class="col-sm-6 form-group form-row">Rollnumber:{{user_profile.rollnumber}}</h6>
                    <h6 class="col-sm-6 form-group form-row">Customercode:{{user_profile.customercode}}</h6>
                    <h6 class="col-sm-6 form-group form-row">Join Date:{{user_profile.date_of_signature}}</h6>

                    <a href="{% url 'profile_edit' %}" class="btn btn-primary ">EDIT</a>
                    <a href="{% url 'change_password' %}" class="btn btn-secondary ">Changepassword</a>
               </div>
          </div>
     </div>
</div>

{% endblock content %}